<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    
    
      
     
  </header>
  <section class="attibutes">
    
    <div class="att-fields">
      
        {{!--This is all the attributes--}}
       <div class="flex flex-col-center">
        <div class="flex flex-col-left">
          <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
          

        </div>













          <div class="flex flex-row-right">
              <label for="system.guts.value"> Guts</label>
              <input type="number" name="system.guts.value" value="{{system.guts.value}}" data-dtype="Number" size="100px"/>
              <span>/</span>
              <input type="number" name="system.guts.max" value="{{system.guts.max}}" data-dtype="Number" size="100px"/>
            </div>
          <div class="flex flex-row-right"> 
              <label for="system.smarts.value"> Smarts</label>
              <input type="number" name="system.smarts.value" value="{{system.smarts.value}}" data-dtype="Number" size="100px"/>
              <span>/</span>
              <input type="number" name="system.smarts.max" value="{{system.smarts.max}}" data-dtype="Number" size="100px"/>
          </div>
          <div class="flex flex-row-right">
              <label for="system.brawn.value"> Brawn</label>
              <input type="number" name="system.brawn.value" value="{{system.brawn.value}}" data-dtype="Number" size="100px"/>
              <span>/</span>
              <input type="number" name="system.brawn.max" value="{{system.brawn.max}}" data-dtype="Number" size="100px"/>
          </div>
        </div>
    </div>
  </section>

 

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    
  </section>
</form>

